/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.forget-pass-btn {
  background: none;
  border: none;
  padding: 0 0 20px;
  font-family: sans-serif;
  color: #069;
  cursor: pointer;
  margin-left: auto;
}
mat-form-field {
  width: 100%;
}
