<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <section class="window-form-container">
      <img class="LOGO" src="assets/logo_gpsguardian.svg" />
      <mat-tab-group animationDuration="0ms" (selectedTabChange)="toggleMode()">
        <mat-tab label="Logowanie">
          <form
            class="form-container"
            [formGroup]="authForm"
            (ngSubmit)="onSubmit()"
            *ngIf="!isResetMode"
          >
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                type="email"
                formControlName="email"
                required
              />
              <mat-error>{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Hasło"
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
                required
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error>
                {{ getPassErrorMessage() }}
              </mat-error>
            </mat-form-field>
            <button (click)="isResetMode = true">Nie pamiętam hasła</button>

            <button mat-raised-button color="primary" type="submit">
              Zaloguj się
            </button>
          </form>
          <app-reset-password
            *ngIf="isResetMode"
            (isResetMode)="changeResetMode($event)"
          ></app-reset-password>
        </mat-tab>
        <mat-tab label="Rejestracja">
          <form
            class="form-container"
            [formGroup]="authForm"
            (ngSubmit)="onSubmit()"
          >
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                type="email"
                formControlName="email"
                required
              />
              <mat-error>{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Hasło"
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
                required
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error>
                {{ getPassErrorMessage() }}
              </mat-error>
              <app-password-strength-bar
                [password]="currentPassword"
              ></app-password-strength-bar>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="confirmPassword"
                placeholder="Potwierdź hasło"
                required
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  authForm.get('confirmPassword')?.invalid &&
                  authForm.get('confirmPassword')?.touched
                "
              >
                <span
                  *ngIf="authForm.get('confirmPassword')?.hasError('required')"
                  >Pole nie może być puste</span
                >
                <span
                  *ngIf="
                    authForm.get('confirmPassword')?.hasError('notMatching')
                  "
                  >Hasła różnią się</span
                >
              </mat-error>
            </mat-form-field>

            <button
              mat-raised-button
              color="primary"
              type="submit"
              disabled="authForm.invalid"
            >
              Zarejestruj się
            </button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </section>
  </mat-card>
</div>
