.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("~src/assets/AdobeStock_265997832.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
mat-card.card-container {
  width: 60%;
  height: 80vh;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  position: relative;
}

.window-form-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 15% auto;
  padding: 30px;
  max-height: 100%;
}
div.password-container {
  position: relative;
}
mat-card.password-error-card {
  padding: 2px 3px;
  font-size: 0.7rem;
  color: red;
  font-family: Roboboto, sans-serif;
  position: absolute;
  right: -50%;
  width: 48%;
  z-index: 10;
  float: right;
}
.form-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
mat-tab-group.form-container {
  height: 100%;
  max-height: fit-content;
}
/* mat-tab {
  height: 100%;
} */
.form-card {
  height: 48vh;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px;
}

.reset-card {
  justify-content: center;
}

img.logo {
  grid-column-start: 1;
  grid-column-end: 4;
  object-fit: contain;
}
.form-container {
  grid-column-start: 2;
  grid-column-end: 3;
}

.submit-btn {
  margin: 10px;
}
.message {
  font-weight: 200;
  color: rgb(38, 38, 119);
  font-size: 1.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
}

@media only screen and (max-width: 600px) and (max-width: 767px) {
  .form-container {
    height: 200px;
    font-size: 0.5rem;
  }
  mat-card {
    width: 85%;
    height: 60vh;
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  mat-card.card-container {
    width: 75%;
  }
  .window-form-container {
    grid-template-columns: 0fr 8fr 0fr;
  }
  mat-card.password-error-card {
    padding: 2px 3px;
    font-size: 0.6rem;
    right: -130px;
    width: 120px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  mat-card.card-container {
    width: 60%;
  }
  .window-form-container {
    grid-template-columns: 1fr 8fr 1fr;
  }
  mat-card.password-error-card {
    padding: 2px 3px;
    font-size: 0.6rem;
    right: -40%;
    width: 38%;
  }
}
