<form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      placeholder="Email"
      type="email"
      formControlName="email"
      required
    />
    <mat-error>{{ getEmailErrorMessage() }}</mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    Zresetuj hasło
  </button>
  <button (click)="turnOffResetMode()">Wróć do logowania</button>
</form>
