<form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input #email matInput type="email" formControlName="email" required />
    <mat-error>{{ getEmailErrorMessage() }}</mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
    (click)="sendEmail(email.value)"
  >
    Zresetuj hasło
  </button>
  <button class="forget-pass-btn" type="button" (click)="turnOffResetMode()">
    Wróć do logowania
  </button>
</form>
